<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">

	<select parameterType="map" id="consultClients" resultMap="ClientResult">
		SELECT * FROM bd.VI_CLIENTES;
	</select>

	<resultMap type='Client' id='ClientResult'>
		<id property='document' column='documento' />
		<result property='name' column='nombre' />
		<result property='phone' column='telefono' />
		<result property='address' column='direccion' />
		<result property='email' column='email' />
		<result property='banned' column='vetado' />
	</resultMap>

</mapper>