<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">

	<select parameterType="map" id="consultItem" resultMap="ItemResult">
		SELECT * FROM bd.VI_ITEMS;
	</select>

	<resultMap type='Item' id='ItemResult'>
		<id property='id' column='id' />
		<result property='name' column='nombre' />
		<result property='description' column='descripcion' />
		<result property='releaseDate' column='fechalanzamiento' />
		<result property='pricePerDay' column='tarifapordia' />
		<result property='rentFormat' column='formatorenta' />
		<result property='gender' column='genero' />
		<association property="itemType" javaType='TipoItemMapper'></association>
	</resultMap>
	    
</mapper>