<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">

	<select parameterType="map" id="consultTypeItem" resultMap="TypeItemResult">
		SELECT * FROM bd.VI_TPOITEM;
	</select>

	<resultMap type='TypeItem' id='TypeItemResult'>
		<id property='id' column='id' />
		<result property='description' column='descripcion' />
	</resultMap>
                
</mapper>